<h1>Editing <%= (@payroll.payroll_type=="Monthly") ? "Monthly": "Daily" %> payroll for <%= @company.name %></h1>

<%= render 'form' %>

<div class="extra">
	<%= link_to 'Back', (@payroll.payroll_type=="Monthly") ? monthly_payroll_company_payroll_path(@company, @payroll): daily_payroll_company_payroll_path(@company, @payroll) %>
</div>
