<div class="show">
	<p id="notice"><%= notice %></p>

	<p>
		<b>Name:</b>
		<%= @loan.name %>
	</p>
</div>
<div class="extra">
	<%= link_to 'Edit', edit_loan_path(@loan) %> |
	<%= link_to 'Back', loans_path %>
</div>
