@import "bootstrap";

/* universal */

html{
	overflow-y: scroll;
}
body{
	padding-top: 60px;
}
.container table, .container .new_payroll, .container .edit_payroll{
	margin-left: auto;
	margin-right: auto;
}
.container form{
	margin-left: 10%;
}

.container{
	width: 100%;
}

div .field select{
		width: 10em;
		margin-right: 1em;
		margin-left: 1em;
		padding: 0;
		vertical-align: middle;
}

div .field .dateselect{
	 width: 7em;
}


div .field label{
	marin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom:0;
}
div .field input{
	margin-top: .25em;
	margin-bottom: .25em;
}

.container textarea{
	height: 100px;
	width: 250px;
	resize: both;
}

.container td{
	text-align: center;
}

section{
	overflow: auto;
}

.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

/* typography */
h1, h2, h3, h4, h5, h6{
	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}


h2{
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p{
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover{
			color: #fff;
			text-decoration: none;	
	}
}

td a:visited, td a:hover{
	color: #08C;
	background-color: #CCC;
}


/* footer */

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;

	a{
		color: #555;
		&:hover{
			color: #222;				
		}
	}
	small{
		float: left;
	}

	ul{
		float: right;
		list-style: none;	
		li{
			float: left;
			margin-left: 10px;
		}
	}
}


.Special {
	color: red;
}
.Regular {
	color: black;
}
	
input[type="number"] {
	width: 4em;
	margin-bottom: 0;
	text-align: right;
}

th{
	font-size: 11px;
}

.normal {
	background-color: #FFFFFF;
}

.highlight {
	background-color: #CCCCCC;
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }
  
div .extra{
	margin-left: 5%;
	margin-top: 1em;
}
div .show{
	margin-left: 5%;
}
div .actions{
	margin-right: 2%;
	margin-top: 0;
	float: left;
}

div .new_payroll .actions{
  margin-top: 1em;
	margin-left: 6%;
}

div .edit_payroll .actions{
  margin-top: 1em;
	margin-left: 6%;
}

.paper h1, .paper h2, .paper h3{
	font-size: 12pt;
	padding: 0;
	margin: 0;
	line-height: 1;
}
.paper{
	margin-top: .25em;
	margin-bottom: .20em;
	margin-right: .35em;
	padding: .5em;
	padding-right: 1em; 
	display: inline-block;
	border: 1px solid black;
	width: 25%;
	td{
		border: 1px solid black;
	}
}


.left-column{
	float: left;

	td{
		padding-top: .75em;
		padding-left: .5em;
		padding-right: .5em;
		text-align: left;
	}
}

.right-column{
	float: right;
	td{
		font-size: 9pt;
		padding: 0;
		margin: 0;
		padding-left: .5em;
		padding-right: .5em;
		text-align: left;
	}
}

.center-column{
	position: relative;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: .25em;
	width: 100%;
	display: inline-block;
	border-top: 1px dotted black;
	p{
		font-size: 8pt;
		padding: 0;
		margin: 0;
		margin-top: .25em;
	}
	float: left;

}
.center-column .less-margin{
	line-height: 1;
}

.signature{
	margin-top: 1em;
	border-top: 1px solid black;
	p{
		margin-top: .20em;
		
	}
}

.page-break{
	display: none;
}

.show.left-side-bar{
	float: left;
}

.right-side-bar{
	clear: right; 
}

