<div id="footer" style="position:relative;float:left;width:100%;">
<hr>

Made by squeekyclean ^_^a. RoR fanatic. December 2011
<br/>
Email me: greenlover1991@yahoo.com or just post bugs at <%= link_to 'bugtaks.heroku.com', 'http://bugtaks.heroku.com' %>.
<br/>
You may also like <%= link_to 'Zoogbu', 'http://zoogbu.heroku.com'%>. :D
</div>
