<h2> Companies </h2>

<table border="1">
	<tr>
		<th> Company </th>
		<th colspan="2"> Payroll</th>
	</tr>
	<% @companies.each do |c| %>
		<% last_payroll = c.payrolls.last %>
		<tr>
			<td> <%= c.name %> </td>
			<td> <%= link_to 'Input Payroll',new_company_payroll_path(c.id) %></td>
			<td> <%= link_to 'List Old Payrolls', company_payrolls_path(c.id) %></td>
		</tr>
	<% end %>

</table>